@media (min-width: 600px) {
    body: {
        background-color: blue;
    }
}


{
    
}

label{
    display: block;
}
input{
    border-radius: 5px;
    color: rgb(92, 92, 164);
    border: 2px solid blue;
}
button{
    background-color: rgb(183, 183, 196);
}
button:hover{
    background-color: chartreuse;
}

.ip{
    float: right;
    padding: 2px;
    width: 100;
    text-align: center;
    display: block;
}
.x{
    float: left;
    text-align: center;
    display: block;
}
.z{
    float: center;
    text-align: center;
    display: block;
}
#i{
    float: left;\
    margin-right: 10px;}
#y{
    float: left;
}
.c{
    padding-top:60px 140px ;
    border: solid greenyellow;
    padding: 30;
    margin: 70;
}
#y2{
    float: left;
}
.j{
    text-align: center;
    display: block;
}
form{
    background-color:greenyellow ;
    padding: 50px;
    border-radius: 70px;
    border: 2px solid;
    margin: 100px;

}
img{
    border-radius: 40px;
}
.h{
    padding-left: 60px;
    color: blue;
}


