img{
    border-radius: 20px;
    width: 300px;
}
.a{
    padding: 40px;
    border: solid;

}
#g{
    margin: 60px 140px;
}
.t{
    border: dotted;
    justify-content: center;
}
.l{
    background-color: chartreuse;
    font-weight: 500px;

}
.h{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display:swap;
}
body{
    background-color:rgb(255, 140, 0);(44, 129, 100);
}
: